.Black{
    background-color: black;
    padding: 70px;
    
}
.White{
    background-color: white;
    padding: 15px
}
.Red{
    background-color: red;
    padding: 70px
    
}
.Green{
    background-color: green;
    padding: 70px;
   
}


img{
    position: absolute;
    width: 180px;
    height: 250px;
    top: 140px;
    left: 600px;
}

